@mixin page($bg) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr min-content;
		min-height: 100%;

		h2 {
			color: $bg;
		}

		section {
			display: flex;
			flex-direction: row;
			min-height: 100%;

			@include md {
		    	flex-direction: column;
		    }

			.left {
				flex: 2;
				display: flex;
				flex-direction: column;
				margin-right: 4em;
				min-width: 300px;

				@include md {
		    		margin-right: 0;
		    		margin-bottom: 2em;
		    	}

				.top-content {
					flex: 0;
					margin-bottom: 2em;

					.supplementary-content {
						margin-top: 1em;
					}
				}

				.bottom-content {
					flex: 1;

					img {
			    		width: 100%;
			    		height: auto;
					}
				}
			}

			.right {
				flex: 3;
			}
		}
	}
}

.page-body-blue {
  @include page($blue);
}

.page-body-red {
  @include page($red);
}

.page-body-yellow {
  @include page($yellow);
}