html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $sans-serif;
  font-weight: $light;
  font-size: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

*:focus {
  outline: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

h1 {
  font-family: $serif;
  font-weight: 600;
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

h3 {
  font-family: $sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0;
}

h4 {
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

p {
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

hr {
  height: 1px;
  background-color: black;
  border: none;
  margin: $top-separator-margin 0px;
}

figure {
  margin: 0;
}

footer {
  margin-top: 2em;
}

.container {
  display: grid;
  box-sizing: border-box;
  padding: 2rem 4rem;
  max-width: $max-content-width;
  margin: 0 auto;

  @include md {
    padding: 2rem 2rem;
  }
}

@mixin button($bg) {
  color: $bg;
  background: none;
  border: 2px solid $bg;
  border-radius: $medium-corner-radius;
  padding: 0.75em 1.5em;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-weight: $semibold;
  font-size: 1em;
  cursor: pointer;

  @include md {
    font-size: 1.25em;
  }

  @media (hover: hover) {
    &:hover {
      background: $bg;
      color: white;
    }
  }

  &:active {
    background: darken($bg, 20%);
    border: 2px solid darken($bg, 20%);
  }

  &:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.btn-blue {
  @include button($blue);
}

.btn-red {
  @include button($red);
}

.btn-yellow {
  @include button($yellow);
}