@mixin detail($bg) {
	h2 {
		color: $bg;
	}

	hr {
		background-color: $bg;
	}

	.detail-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
   	grid-gap: 3em;
		align-items: start;
		margin-top: 4em;

		li {
			width: 15em;
			@include md {
				width: 100%;
			}
			display: block;
			justify-self: center;
			align-self: start;

			.detail-item {
				display: flex;
				flex-direction: column;

				img {
					width: auto;
					height: 100%;
				}

				.logo {
					width: auto;
					height: 10em;
					@include md {
						height: 13em;
					}
					align-self: center;
				}

				.title {
					font-family: $sans-serif;
				  font-weight: 600;
				  font-size: 1.25rem;
				  align-self: center;
				  margin: 1em 0;
				  text-align: center;
				}

				p {
					font-family: $sans-serif;
			  	font-weight: 400;
			  	font-size: 1rem;
			  	line-height: 1.25rem;
			  	color: #666;
			  	margin-bottom: 1rem;

			  	&:last-child {
			  		margin-bottom: 0;
			  	}

				}
			}
		}
	}

	.banner-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		background: $beige;
		box-sizing: border-box;
		padding: 2em;
		border-radius: $medium-corner-radius;
	}

	.banner {
		display: flex;
		align-items: center;

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			--gap: 0.5em;
		  	margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));

			> * {
				margin: var(--gap) 0 0 var(--gap);
			}
		}

		img {
			width: 8em;
			height: auto;
			max-height: 8em;
		}

		.logo {
			margin-right: 2.5em;
			flex-shrink: 0;
		}

		.content {
			flex-grow: 1;
			flex-basis: auto;
		}

		p {
			font-family: $sans-serif;
	  	font-weight: 400;
	  	font-size: 1.1rem;
	  	line-height: 1.5rem;
	  	margin-top: 0.5em;
	  	margin-bottom: 1em;
	  	color: #666;
		}

		.button {
			@include button(#333);
		}
	}
}

.detail-main-blue {
  @include detail($blue);
}

.detail-main-red {
  @include detail($red);
}