<header class="{{ layout.header_class }}">
    <div class="horizontal-layout">
        <h1 class="page-title expandable">{{ layout.headline }}</h1>
        <h1 class="navigation-title expandable">Navigate to...</h1>

        <a class="hamburger expandable" href="#" role="button">
            <svg viewBox="0 0 100 100" draggable="false">
              <rect width="100" height="20"></rect>
              <rect y="37.5" width="100" height="20"></rect>
              <rect y="75" width="100" height="20"></rect>
            </svg>
        </a>

        <a class="hamburger close expandable" href="#" role="button">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
<polygon points="18,2.55 15.45,0 9,6.45 2.55,0 0,2.55 6.45,9 0,15.45 2.55,18 9,11.55 15.45,18 18,15.45 11.55,9 "/>
</svg>

        </a>

        <nav>
            <ul>
                {% assign urlComponents = page.url | split:'/' %}
                {% assign url = urlComponents[1] | remove:'.html' | downcase %}
                {% for item in site.data.navigation %}
                    <li class="nav-item">
                        {% assign path = item.path | remove:'/' | downcase %}
                        <a class="nav-link {% if url == path %}current{% endif %}" href="{{ item.path }}" role="button">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <hr class="top-separator expandable">

    <div class="supplementary-navigation expandable">
        <nav>
            <ul>
                {% for item in site.data.navigation %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.path }}" role="button">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>