---
layout: contact_intermediate
scripts:
  - md5.js
  - contact.js
---

<div class="contact">
    <form id="contact-form" action="https://formspree.io/f/myylwppg" method="POST" name="contact_form">
        <fieldset class="first-name">
            <label class="required" for="first-name">First Name</label>
            <input id="first-name" name="_fname" type="text" required placeholder="Homer"/>
        </fieldset>

        <fieldset class="last-name">
            <label class="required" for="last-name">Last Name</label>
            <input id="last-name" name="_lname" type="text" required placeholder="Simpson"/>
        </fieldset>

        <fieldset class="email">
            <label class="required" for="email">Email</label>
            <input id="email" name="_replyto" type="email" required placeholder="homer.j.simpson@flancrest-enterprises.com"/>
        </fieldset>

        <fieldset class="message">
            <label class="required" for="message">Message</label><br>
            <textarea id="message" name="_message" cols="30" rows="6" placeholder="Oh, they have internet on computers now!"></textarea>
        </fieldset>

        <fieldset class="trivia">
            <p><label class="trivia-title" for="trivia">The Simpsons Bonus Question</label></p>
            <p><label class="trivia-description" for="trivia">If you correctly answer this question, I will know you mean business.</label></p>
            <p><label id="trivia-question" for="trivia"></label></p>
            <input id="trivia" type="text" placeholder=""/>
        </fieldset>

        <input id="btn-submit" class="btn-yellow" type="submit" value="Submit">
    </form>

    <div class="form-feedback" id="form-success"><img src="{{ '/assets/img/contact/success.svg' | relative_url }}" alt="Success" draggable="false"/>Submitted Successfully</div>
    <div class="form-feedback" id="form-failure"><img src="{{ '/assets/img/contact/failure.svg' | relative_url }}" alt="Failure" draggable="false"/>Error Submitting.&nbsp;<a id="link-resubmit" href="#">Click here</a>&nbsp;to retry.</div>
</div>