<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }}{% else %}{{ layout.title }}{% endif %} - {{ site.title }}</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Source+Serif+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
        <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">
    </head>
    <body{% if layout.body_class %} class="{{ layout.body_class }}"{% endif %}>
        <div class="container">
            {{ content }}
            {% include layouts/footer.html %}
        </div>
        
        <script src="{{ "/assets/js/hamburger.js" | relative_url }}"></script>
        {% for script in layout.scripts %}
            {% assign scriptSrc = script | prepend: '/assets/js/' | relative_url %}
            <script src="{{ scriptSrc }}"></script>
        {% endfor %}
    </body>
</html>