<main class="main-grid">
	<section>
		<div class="left">
			<div class="top-content">
				<h2>{{ layout.subheadline | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
				<div class="supplementary-content">
					{% if page.supplementary_include %}{% include layouts/{{ page.supplementary_include }} %}{% endif %}
				</div>	
			</div>
			<div class="bottom-content">
				<img src="{{ page.hero_src | prepend: '/assets/img/' | relative_url }}" alt="{{ page.hero_alt }}" draggable="false"/>
			</div>
		</div>

		<div class="right">{{ content }}</div>
	</section>
</main>